.chatRoomContainner {
  width: 65%;
  margin: auto;
  height: 85vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-top: 5vh;
  display: flex;
}

.contactList {
  width: 35%;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  height: 85vh;
  border-radius: 20px 0 0 20px;
  padding: 20px 0;
  box-sizing: border-box;
}

.contactList div {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 40px;
  border-bottom: none;
  cursor: pointer;
}

.contactList div:hover {
  background-color: aliceblue;
}

.contactList div:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.chatSection {
  width: 65%;
  flex-direction: column-reverse;
  display: flex;
}

.chatSection .inputMessage {
  border-radius: 0 20px 20px 0;
  padding: 10px 30px;
}

.chatSection input {
  box-sizing: border-box;
  padding: 10px;
  min-width: 90%;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  margin-top: 20px;
}

.messages div {
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: fit-content;
  margin: 10px;
}
